body {
    margin-top: 0px;
    background-color: #202020;
    padding: 80px;
    padding-top: 0px;
    font-size: 20px;
}
.new-post {
    margin: 5px;
    padding: 20px;
    border-bottom: 2px solid #f8981d;
    border-top: 2px solid #f8981d;
}
.titulo {
    font-family: 'Tsukimi Rounded', sans-serif;
    font-size: 3em;
    color: #f8981d;
    text-align: center;
    letter-spacing: 4px;
}
h2 {
    font-family: 'Tsukimi Rounded', sans-serif;
    font-size: 1.7em;
    color: #f8981d;
    text-align: center;
    line-height: 1.2;
    letter-spacing: 1px;
}
p {
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    color: #A9DD99;
    line-height: 1.2;
    letter-spacing: 1px;

}
p.quote {
    margin-top: 2em;
    margin-left: 2em;
    color: #DDD;
    font-family: "Tsukimi Rounded", sans-serif;

}
p.date {
    text-align:center;
    color: #DDD;
    font-family: "Tsukimi Rounded", sans-serif;
    margin-top: 10px;
}
span {
    color: #A9FF10;
    font-size: 1.2em;
}

.marco {
    text-align: center;
    color: #DDD;
}
img.portada {
    display: block;
	width: 100%;
	margin: auto;
	animation-name: image;
	animation-duration: 10s;
}

img.circle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    border:3px solid #f8981d;
    padding: 5px;
    border-radius: 50%;
}
cite {
    color: #f84a14;
}

.anim-container {
	margin: auto;
	width: 90%,
}

/*.end-post {
    width: 90%;
    height: 2px;
    margin:10px auto 10px auto;

    background-color: #FFC533;
}*/
#bottom {
	height: 2px;
	width: 100%;
	background-color: #f8981d;

	animation-name: line;
	animation-duration: 1s;
	}

@keyframes image {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@keyframes line {
	0% {width: 0%;}
	100% {width: 100%;}
	{animation-timing-function: ease;}
}
